@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    /* Zinc 950 */
    --foreground: #fafafa;
    /* Zinc 50 */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  /* Prevent bounce for Lenis */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}